<html>
  <head>
    <title>代理配置</title>
  </head>

  <body>
    <div x-data>
      <template x-if="$store.settings.settings">
        <div>
          <div class="section-title">代理配置</div>
          <div class="section-description">
            代理参数。
          </div>

          <div class="field">
            <div class="field-label">
              <div class="field-title">默认代理配置文件</div>
              <div class="field-description">
                /agents 文件夹的子目录，用于默认代理 0 号。下属代理可以使用其他配置文件启动，这由其上级代理决定。此设置影响你与之通信的顶层代理的行为。
              </div>
            </div>
            <div class="field-control">
              <select x-model="$store.settings.settings.agent_profile">
                <template x-for="option in $store.settings.additional?.agent_subdirs" :key="option.value">
                  <option :value="option.value" :selected="option.value === $store.settings.settings.agent_profile" x-text="option.label"></option>
                </template>
              </select>
            </div>
          </div>

          <div class="field">
            <div class="field-label">
              <div class="field-title">知识子目录</div>
              <div class="field-description">
                /knowledge 文件夹的子目录，用于代理知识导入。'default' 子文件夹始终会被导入，包含框架知识。
              </div>
            </div>
            <div class="field-control">
              <select x-model="$store.settings.settings.agent_knowledge_subdir">
                <template x-for="option in $store.settings.additional?.knowledge_subdirs" :key="option.value">
                  <option :value="option.value" :selected="option.value === $store.settings.settings.agent_knowledge_subdir" x-text="option.label"></option>
                </template>
              </select>
            </div>
          </div>
        </div>
      </template>
    </div>
  </body>
</html>
